<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/Chivo.css">
  <link rel="stylesheet" href="/styles/header.scss" type="text/scss" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/assets/js/Lightbox-Gallery.js"></script>
</head>
<body style="font-family: Chivo, sans-serif;">
<div class="text-center"><h2>About us</h2></div>
<div class="text center text-wrap col px-md-5 col px-sm-5 col"><p>We at thrafty are commited to bringing you the finest quality upcycled goods from some of the most well respected artisans on the West Coast. Every item is meticulously examined for quality. We are dedicated to procuring the best quality rustic, hand-made, reconstructed goods of any other second hand market out there!</p><br><h5>Want to know more? Follow the links below to find our socials, where we post new sellers and items daily!</h5></div>
</body>
</html>
