<!-- CM: Favourites page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favourites Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- Add code to render the header -->
  <main style="margin: 1em;"></main>
  <h1>My favourite potato 🥔</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Short URL ID</th>
        <th scope="col">Long URL</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </main>
</body>

</html>
