<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create An Account</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/login-registration.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-box">
    <form action="/register" method="POST">
      <fieldset class="login-fieldset ">
        <h2 class="login-register__title"> Create an Account </h2>
        <div>
          <label for="name"> </label>
          <input class="login-password" type=name name=name placeholder="Full Name" />
        </div>
        <div>
          <label for="email"></label>
          <input class="login-email" type=email name=email value maxlength="50" autocapitalize="off" autocomplete="email"
            placeholder="Email" />
        </div>
        <div>
          <label for="password"> </label>
          <input class="login-password" type=password name=password placeholder="Create Password" />
        </div>
        <button class="login-button" type="submit">Submit</button>
      </fieldset>
    </form>
</body>

</html>
