// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;


.table {
  align-items: center;
  min-height: 100vh;
  border: 1px solid;
}

.fa-solid:hover {
  color: red;
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

#favourite-button {
  background: none;
  padding: 0px;
  border: none;
}
